/* 레이아웃 */

.inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* 헤더 */
header {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 0;
}

header>.inner {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80px;
}

/* 스와이퍼 */
#swiper-silde {
  background-color: #f5f5f5;
  position: relative;
  height: 70vh;
}

.slider-title-box {
  width: 100%;
  position: absolute;
  color: #fff;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
}

.slider-title-box h4 {
  font-size: 48px;
  line-height: 1.25;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  /* 가로와 세로 비율을 동일하게 설정 */
}

.slide-controller {
  width: 100%;
  max-width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.swiper-pagination-fraction {
  width: auto !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-number {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.65px;
}

.progress-bar {
  width: 100%;
  max-width: 260px;
  height: 4px;
  background: #fff;
}

.progress-bar-fill {
  height: 100%;
  width: 0;
  background: #007bff;
  transition: width linear;
}

.slide-text-animated h4 {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-in-out;
}

.slide-text-animated h4.active {
  opacity: 1;
  transform: translateY(0);
}

/* 메인 */
main {
  margin-bottom: 140px;
}

.contant-text-wrap {
  display: flex;
  justify-content: space-between;
  padding: 120px 0 140px 0;
  letter-spacing: -1px;
}

.contant-text-wrap h2 {
  font-weight: 700;
  font-size: 38px;
  color: var(--font-title-color);
  letter-spacing: -1.55px;
}

.contant-text-wrap p {
  font-weight: 700;
  font-size: 18px;
  color: var(--font-txt-color);
  line-height: 1.55;
  font-weight: 500;
  display: block;
  max-width: 520px;
  word-break: auto-phrase;
}

.contant-container {
  text-align: center;
}

.contant-container .section-txt {
  padding-bottom: 48px;
}

.contant-container .section-txt .point-bage {
  display: inline-flex;
  align-items: center;
  background-color: var(--bg-point);
  color: #fff;
  padding: 0 16px;
  height: 38px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.55px;
}

.contant-container .section-txt h2 {
  font-size: 32px;
  color: var(--font-title-color);
  letter-spacing: -1px;
  font-weight: 700;
  padding: 18px 0 8px 0;
}

.contant-container .section-txt p {
  color: var(--font-txt-color);
  letter-spacing: -1.25px;
  font-size: 18px;
  font-weight: 500;
}

.contant-container .item-list {
  display: flex;
  justify-content: center;
  column-gap: 18px;
}

.contant-container .item-list>ul {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.contant-container .item-list .right-item {
  margin-top: 140px;
}

.contant-container .item-list>ul>li {
  width: 100%;
  height: 100vh;
  max-height: 680px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.contant-container .item-list>ul>li .item-comtant {
  padding: 42px 0 42px 42px;
  position: absolute;
  bottom: 0;
  text-align: left;
}

.contant-container .item-list>ul>li .item-comtant .item-bage {
  display: inline-flex;
  align-items: center;
  background-color: var(--bg-point);
  padding: 0 12px;
  height: 34px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 6px;
  letter-spacing: -0.55px;
}

.contant-container .item-list>ul>li .item-comtant .item-text {
  margin: 12px 0 18px 0;
}

.contant-container .item-list>ul>li .item-comtant .item-text li {
  line-height: 1.65;
}

.contant-container .item-list>ul>li .item-comtant .item-text li p {
  color: #fff;
  font-size: 18px;
  letter-spacing: -1.25px;
  font-weight: 500;
}

.contant-container .item-list>ul>li .item-comtant>button {
  color: #fff;
}

.contant-container .select-img {
  height: 100vh;
  max-height: 440px;
  border-radius: 8px;
  overflow: hidden;
}

.contant-container .select-img,
.contant-container .select-opt {}

.contant-container .select-opt {
  margin-top: 12px;
}

.contant-container .select-opt ul li {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 32px 24px;
  border-bottom: 1px solid #e5e5e5;
}

.contant-container .select-opt ul li:last-child {
  border-bottom: none;
}

.contant-container .select-opt ul li .opt h2 {
  color: var(--font-title-color);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -1.85px;
}

.contant-container .select-opt ul li .opt p {
  color: var(--font-txt-color);
  font-size: 16px;
  line-height: 2;
  letter-spacing: -1.35px;
  font-weight: 700;
}

.contant-container .select-opt ul li .opt-contant {
  width: 100%;
  max-width: 500px;
}

.contant-container .select-opt ul li .opt-contant p {
  color: rgba(66, 66, 66, 0.55);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: -1.55px;
}

/* 푸터 */
footer {
  padding: 38px 0;
  border-top: 1px solid #e5e5e5;
}

.ft-top {}

.ft-top .ft-logo {
  text-align: center;
}

.ft-top .ft-link {
  padding: 20px 0;
}

.ft-top .ft-link ul {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}

.ft-top .ft-link ul li a {
  color: #3985F2;
  font-size: 16px;
  font-weight: 500;

}

.ft-top .ft-link ul li a:hover {
  text-decoration: underline;
}

.ft-bottom {
  text-align: center;
}

.ft-bottom p {
  line-height: 1.85;
  font-size: 16px;
  font-weight: 500;
  color: var(--font-txt-color);

}